.btn {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  color: var(--white);
  border-radius: calc(var(--gap) * .75);
  padding: 10px;
  font-size: 1rem;
  line-height: 1rem;
  min-height: calc(var(--gap) * 2.5rem);
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--blue-200);
  border-color: var(--blue-600);
}

.btn-primary:hover {
  background-color: var(--blue-300);
  border-color: var(--blue-300);
}

.btn-primary:active {
  background-color: var(--blue-400);
  border-color: var(--blue-400);
}

.btn-danger {
  border-color: var(--red-200);
}

.btn-danger:hover {
  border-color: var(--red-300);
}

.btn-danger:active {
  border-color: var(--red-400);
}

.btn-success {
  border-color: var(--gray-600);
}

.btn-success:hover {
  border-color: var(--blue-600);
}

.btn-success:active {
  border-color: var(--blue-600);
}

.btn-outline {
  border-radius: initial;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-color: transparent;
  color: var(--gray-300);
  transition: border-bottom-color .2s ease-out, color .2s ease-out;
}

.btn-outline:hover {
  color: var(--white);
}

.btn-outline--active {
  border-bottom-color: var(--white);
  color: var(--white);
}
