@import "./styles/base.css";
@import "./styles/components/__buttons.css";
@import "./styles/components/__inputs.css";
@import "./styles/components/__tasks.css";
@import "./styles/components/__task.css";

:root {
  --white: #ffffff;

  --gray-600: #303447;
  --gray-500: #34394B;
  --gray-400: #44495C;
  --gray-300: #8A8F9B;
  --gray-200: #242838;

  --blue-600: #0E78F8;
  --blue-500: #1B202E;
  --blue-400: rgba(14, 106, 217, 0.27);
  --blue-300: rgba(14, 120, 248, 0.27);
  --blue-200: rgba(14, 120, 248, 0.19);

  --red-400: #D3134C;
  --red-300: #F82A68;
  --red-200: #E71C59;
  --red-100: rgba(231, 28, 89, 0.31);

  --success-400: #48C26F;
  --success-300: #48C26F;
  --success-200: #3BA55D;

  --gap: 16px;
  --form-input-size: 50px;
}
